# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# npm cache directory
.npm

# parcel cache directory
.cache

# parcel output directory
dist

# Yarn Integrity file
.yarn-integrity
